[D-BUS Service]
Name=org.atlantic.browser.ui
Exec=/usr/bin/taskset -c 4-7 /usr/bin/invoker --type=browser,silica-qt5 -A -- /usr/bin/sailfish-browser -prestart
